<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Log In</title>
    <link rel="stylesheet" href="../new_session.css" type="text/css">
  </head>
  <body>
    <nav class="nav">
      <h1>Bookmark Manager</h1>
    </nav>

    <main class="log-in-container">
      <h1>Log In</h1>

      <h2 class="flash-notice">
        <%= flash[:notice] %>
      </h2>

      <form action="/session" method="post">
        <label for="email">E-mail</label>
        <input type="email" name="email">
        <label for="password">Password</label>
        <input type="password" name="password">
        <input type="submit" value="Sign In">
      </form>
    </main>

    <footer class="footer">
      <h1>Footer</h1>
    </footer>
  </body>
</html>
