* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgrey;
}

h1 {
  background-color: black;
  color: white;
  font-family: monospace;
  text-align: center;
  padding: 20px;
}

h2 {
  text-align: center;
  background-color: red;
  color: white;
  padding: 10px;
  margin: 20px auto;
  width: 90%;
  font-family: sans-serif;
}

ul {
  font-size: 1.5em;
  background-color: white;
  margin: 50px auto;
  list-style: none;
  font-family: monospace;
  padding: 20px;
  border-radius: 5px;
}

li {
  background-color: grey;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: orange;
}

form {
  display: inline;
}

input {
  background-color: darkgrey;
  border: solid;
  border-color: white;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0 10px;
  float: right;
}

.new {
  position: relative;
  right: 48%;
  background-color: green;
}
